.principal {
  width: 90%;
  height: 900px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

hr {
  width: 78%;
}

.filtro--produtos {
  width: 25%;
  min-width: 300px;
  border: 1px solid #cbd5e0;
  border-radius: .25rem;
  margin-top: 50px;
  background-color: white;
  margin-left: 2rem;
  padding: 1rem;
}

.informacao-compra {
  float:right;
  margin-right: 10%;
}

.informacao-compra span{
  font-size: 12px;
  color: #ff0000;
}
.produtosPetShop{
  float: right;
  margin-top: -3%;
  margin-right: 10%;
}

.filtro--produtos h3 {
  font-size: 35px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.filtro--produtos hr {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 20px;
}

.filtro--produtos a {
  font-size: 20px;
  padding: 10px;
  text-decoration: underline;
  opacity: 1;
}

.filtro--produtos a:hover {
  opacity: 0.9;
}

.center {
  margin-top: 25%;
}

.card--principal {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;

  padding: 50px 20px;
  flex-wrap: wrap;
}

.icon-carrinho {
  position: fixed;
  width: 50px;
  height: 150px;
  color: #007DC5;
  margin-left: 1280px;
  margin-top: 40px;
  margin-right: 20px;
}
.notify-carrinho {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: #ff0000;
  margin-left: 1315px;
  margin-top: 80px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.7;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.card--produto {
  width: 30%;
  height: 300px;
}

.checkBox {
  padding: 10px;
}

.checkBox input {
  width: 20px;
  height: 15px;
  margin-top: 10px;
}

.checkBox label {
  text-align: center;
  padding: 10px;
  font-size: 22px;
}

.inputPesquisa {
  border-radius: 5px;
  width: 300px;
  padding: 5px;
  outline: none;
  text-decoration: none;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.521);
}

